<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperTrumpJump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84B6784B1CF13832000C2AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B678681CF13833000C2AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B678731CF13833000C2AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
